#### create a program to download stock data from yahoo

In [1]:
import yfinance as yf
import numpy as np
import pandas as pd
import time
from datetime import datetime, timedelta

In [2]:
# define dates
today = datetime.today()
thirty_days_ago = today - timedelta(days=30)

end = today.strftime("%Y-%m-%d")
st = thirty_days_ago.strftime("%Y-%m-%d")

st, end

('2022-03-25', '2022-04-24')

In [3]:
# get sample data
aapl = yf.Ticker('aapl')
type(aapl)

yfinance.ticker.Ticker

In [4]:
# get history data
aapl = aapl.history(start = st, end = end, interval = "1d")

In [5]:
aapl['pctchg'] = aapl['Close'].pct_change()

In [6]:
aapl.loc[aapl['pctchg'] >= 0, 'chgtyp'] = 1
aapl['chgtyp'].fillna(0, inplace = True)

In [7]:
# aapl.groupby('Dividends')
aapl['d5avg'] = aapl['chgtyp'].rolling(5).mean()
aapl['d10avg'] = aapl['chgtyp'].rolling(10).mean()
aapl['d15avg'] = aapl['chgtyp'].rolling(15).mean()
aapl['d20avg'] = aapl['chgtyp'].rolling(20).mean()

In [8]:
aapl

,Open,High,Low,Close,Volume,Dividends,Stock Splits,pctchg,chgtyp,d5avg,d10avg,d15avg,d20avg
Date,,,,,,,,,,,,,
2022-03-25,173.880005,175.279999,172.750000,174.720001,80546200,0,0,NaN,0.0,NaN,NaN,NaN,NaN
2022-03-28,172.169998,175.729996,172.000000,175.600006,90371900,0,0,0.005037,1.0,NaN,NaN,NaN,NaN
2022-03-29,176.690002,179.009995,176.339996,178.960007,100589400,0,0,0.019134,1.0,NaN,NaN,NaN,NaN
2022-03-30,178.550003,179.610001,176.699997,177.770004,92633200,0,0,-0.006650,0.0,NaN,NaN,NaN,NaN
2022-03-31,177.839996,178.029999,174.399994,174.610001,103049300,0,0,-0.017776,0.0,0.4,NaN,NaN,NaN
2022-04-01,174.029999,174.880005,171.940002,174.309998,78699800,0,0,-0.001718,0.0,0.4,NaN,NaN,NaN
2022-04-04,174.570007,178.490005,174.440002,178.440002,76468400,0,0,0.023693,1.0,0.4,NaN,NaN,NaN
2022-04-05,177.500000,178.300003,174.419998,175.059998,73401800,0,0,-0.018942,0.0,0.2,NaN,NaN,NaN
2022-04-06,172.360001,173.630005,170.130005,171.830002,89058800,0,0,-0.018451,0.0,0.2,NaN,NaN,NaN
2022-04-07,171.160004,173.360001,169.850006,172.139999,77594700,0,0,0.001804,1.0,0.4,0.4,NaN,NaN
2022-04-08,171.779999,171.779999,169.199997,170.089996,76515900,0,0,-0.011909,0.0,0.4,0.4,NaN,NaN
2022-04-11,168.710007,169.029999,165.500000,165.750000,72246700,0,0,-0.025516,0.0,0.2,0.3,NaN,NaN
2022-04-12,168.020004,169.869995,166.639999,167.660004,79265200,0,0,0.011523,1.0,0.4,0.3,NaN,NaN
2022-04-13,167.389999,171.039993,166.770004,170.399994,70618900,0,0,0.016343,1.0,0.6,0.4,NaN,NaN
2022-04-14,170.619995,171.270004,165.039993,165.289993,75237500,0,0,-0.029988,0.0,0.4,0.4,0.400000,NaN
2022-04-18,163.919998,166.600006,163.570007,165.070007,69023900,0,0,-0.001331,0.0,0.4,0.4,0.400000,NaN
2022-04-19,165.020004,167.820007,163.910004,167.399994,67723800,0,0,0.014115,1.0,0.6,0.4,0.400000,NaN
2022-04-20,168.759995,168.880005,166.100006,167.229996,67929800,0,0,-0.001016,0.0,0.4,0.4,0.333333,NaN
2022-04-21,168.910004,171.529999,165.910004,166.419998,87227800,0,0,-0.004844,0.0,0.2,0.4,0.333333,NaN
2022-04-22,166.460007,167.869995,161.500000,161.789993,84775200,0,0,-0.027821,0.0,0.2,0.3,0.333333,0.35

In [9]:
aapl

,Open,High,Low,Close,Volume,Dividends,Stock Splits,pctchg,chgtyp,d5avg,d10avg,d15avg,d20avg
Date,,,,,,,,,,,,,
2022-03-25,173.880005,175.279999,172.750000,174.720001,80546200,0,0,NaN,0.0,NaN,NaN,NaN,NaN
2022-03-28,172.169998,175.729996,172.000000,175.600006,90371900,0,0,0.005037,1.0,NaN,NaN,NaN,NaN
2022-03-29,176.690002,179.009995,176.339996,178.960007,100589400,0,0,0.019134,1.0,NaN,NaN,NaN,NaN
2022-03-30,178.550003,179.610001,176.699997,177.770004,92633200,0,0,-0.006650,0.0,NaN,NaN,NaN,NaN
2022-03-31,177.839996,178.029999,174.399994,174.610001,103049300,0,0,-0.017776,0.0,0.4,NaN,NaN,NaN
2022-04-01,174.029999,174.880005,171.940002,174.309998,78699800,0,0,-0.001718,0.0,0.4,NaN,NaN,NaN
2022-04-04,174.570007,178.490005,174.440002,178.440002,76468400,0,0,0.023693,1.0,0.4,NaN,NaN,NaN
2022-04-05,177.500000,178.300003,174.419998,175.059998,73401800,0,0,-0.018942,0.0,0.2,NaN,NaN,NaN
2022-04-06,172.360001,173.630005,170.130005,171.830002,89058800,0,0,-0.018451,0.0,0.2,NaN,NaN,NaN
2022-04-07,171.160004,173.360001,169.850006,172.139999,77594700,0,0,0.001804,1.0,0.4,0.4,NaN,NaN
2022-04-08,171.779999,171.779999,169.199997,170.089996,76515900,0,0,-0.011909,0.0,0.4,0.4,NaN,NaN
2022-04-11,168.710007,169.029999,165.500000,165.750000,72246700,0,0,-0.025516,0.0,0.2,0.3,NaN,NaN
2022-04-12,168.020004,169.869995,166.639999,167.660004,79265200,0,0,0.011523,1.0,0.4,0.3,NaN,NaN
2022-04-13,167.389999,171.039993,166.770004,170.399994,70618900,0,0,0.016343,1.0,0.6,0.4,NaN,NaN
2022-04-14,170.619995,171.270004,165.039993,165.289993,75237500,0,0,-0.029988,0.0,0.4,0.4,0.400000,NaN
2022-04-18,163.919998,166.600006,163.570007,165.070007,69023900,0,0,-0.001331,0.0,0.4,0.4,0.400000,NaN
2022-04-19,165.020004,167.820007,163.910004,167.399994,67723800,0,0,0.014115,1.0,0.6,0.4,0.400000,NaN
2022-04-20,168.759995,168.880005,166.100006,167.229996,67929800,0,0,-0.001016,0.0,0.4,0.4,0.333333,NaN
2022-04-21,168.910004,171.529999,165.910004,166.419998,87227800,0,0,-0.004844,0.0,0.2,0.4,0.333333,NaN
2022-04-22,166.460007,167.869995,161.500000,161.789993,84775200,0,0,-0.027821,0.0,0.2,0.3,0.333333,0.35

In [11]:
# Import the plotting library
import matplotlib.pyplot as plt
%matplotlib inline

# Plot the close price of the AAPL
aapl_historical['Close'].plot()
plt.show()

NameError: name 'aapl_historical' is not defined